@import '../../../scss/mixins';

.wrap {

  img {
    width: 100%;
    object-fit: cover;
  }
  
  @include tablet {
    img {
      width: 100%;
    }
  }

  @include mobile {
    img {
      width: 100%;
    }
  }

}
