@import '../../scss/mixins';

.wrap {

    background: #000;
    opacity: 0.7;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

  .body {
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 70%;
  }

}