@import '../../scss/mixins';


.wrap {

  @include dFlexWrap();
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;

  padding: 24px;

  margin: 0 auto;

  .body {
    margin: 4px;
    flex-basis: 32%;
    border-radius: 4px;
    border: 1px solid  #e5e5e5;

    &-icon {
      @include dFlex();
      align-items: center;
      padding: 0 16px;
    }

  }

  @include tablet {
    justify-content: space-between;
    .body {
      @include column();
      flex-basis: 48%;
    }
  }

  @include mobile {
    padding: 16px;
    justify-content: center;
    .body {
      @include columnAuto();
      flex-basis: 100%;
    }
  }

}
