@import '../../scss/mixins';


.wrap {

  @include dFlexWrap();
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  padding: 24px;

  margin: 0 auto;

  .body {
    margin: 4px;
    flex-basis: 32%;
    border-radius: 4px;
    border: 1px solid  #e5e5e5;

    &-icon {
      @include dFlex();
      align-items: center;
    }

  }

  @include tablet {
    max-width: 720px;
    justify-content: space-between;
    .body {
      @include columnAuto();
      max-width: 360px;
    }
  }

  @include mobile {

    justify-content: space-between;
    .body {
      @include columnAuto();
      max-width: none;
    }
  }

}
