@import '../../scss/mixins';


.wrap {

  @include dFlexWrap();
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 1065px;

  margin: 0 auto;

  .body {
    padding : 8px;
    max-width : 266px;

    &-icon {
      @include dFlex();
      align-items: center;
    }

  }

}