@import '../../../scss/mixins';

.wrap {

  img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 2px;
  }


  @include mobile {
    img {
      width: 17px;
      height: 17px;
    }
  }

}
