.wrap {

  padding: 16px;

  .menu-name {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 600;
    color: #3b4245;
  }

  .menu-summary {
    font-size: 14px;
    font-weight: 400;
    color: #6f7174;
    word-break: keep-all;
    margin-top: 12px;
  }

  .menu-description {
    font-size: 12px;
    letter-spacing: -0.5px;
    font-weight: 300;
    color: #6f7174;
    word-break: keep-all;
  }

  .menu-price {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color :  #3e454c;
    margin-top: 12px;

    span {
      font-size: 13px;
    }

  }

}
